body{
    background-color: #D8D8D8;
}

h3{
    margin-left: 10px;
}

.albumContainer{
    text-align: center;
    padding-bottom: 1em;
    margin: 1em;
 }
 .album-container img{
    width: 100%;
 }

 .bg-dark{
     background-color: #262626;
 }

 .navbar-right{
     color: white;
     margin-right: 30%;
     font-size: larger;

 }
 .navbar-left{
    margin-left: 14%;
 }

 .navbar-p{
     display: inline;
 }
 .smaller-titles{
     display: flex;
 }